/* 320px MINIMUM */
@media (min-width: 320px) and (max-width: 600px) {
    #perfil-container {
        width: 70%;
    }

    .texto {
        margin-right: unset;
    }

    h1 {
        font-size: 100px;
    }

    span{
        font-size: 84px;
    }

    #contato {
        font-size: 24px;
        line-height: normal;
    }
}

@media (min-width: 320px) and (max-width: 1025px) { 
    main {
        height: auto;
        padding: 0 0 50px;
    }
    
    nav ol {
        height: unset;
    }

    h1 {
        line-height: unset;
    }
    
    footer {
        height: 200px;
        flex-direction: column;
        padding-left: 16px;
    }
    
    .imagem {
        width: 100%;
    }
    
    #perfil-container {
        flex-direction: column;
        height: max-content;
    }

    .texto {
        width: 100%;
    }
}

@media(min-width: 320px) and (max-width: 1025px) {    
    footer {
        height: auto;
        width: auto;
    }
    
    #contato {
        margin-bottom: 68px;
    }

    #infos {
        align-items: unset;
        display: flex;
        flex-direction: column;
    }

    #email {
        margin-bottom: 20px
    }

    #botao-topo {
        display: none;
    }
}

/* 600px MINIMUM */
@media (min-width: 600px) and (max-width: 1025px) {
    #perfil-container {
        width: calc(100% - 32px);
    }

    .texto {
        margin-right: unset;
    }
}

/* 1025px MINIMUM */
@media (min-width: 1025px) and (max-width: 1281px) {
    #perfil-container {
        width: 90%;
    }

    .texto {
        margin-right: 74px;
    }
}

@media (min-width: 1281px) and (max-width: 1500px) {
    #perfil-container {
        width: 90%;
    }

    .texto {
        margin-right: unset;
    }
}