/* BODY */
html {
    font-size: 16px;
}

body {
    font-family: 'Heveltica', sans-serif;
    margin: 0 auto;
}

nav {
    background-color: #F2F2F2;
    width: 100%;
}

nav ol {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 86px;
    justify-content: space-between;
    line-height: 24px;
    list-style: none;
    margin: 0;
}

nav ol li {
    padding: 18px;
}

/* MAIN */
main {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 74px 0 108px;
    width: 100%;
}

#perfil-container{
    align-items:center;
    display:flex;
    height:560px;
    justify-content:space-around;
    width:70%;
}

.imagem{
    width:50%;
}

.texto{
    width:50%;
    margin:108px;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    line-height: 112px;
    margin: unset;
}

h1 span {
    color: gray;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: -2px;
}

h2 {
    font-family: 'Helvetica', Sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 24px 0 ;
}

.imagem img {
    width: 100%;
}

/* FOOTER */
footer {
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    display: flex;
    height: 572px;
    justify-content: flex-start;
    width: 100%;
}

#contato {
    font-family: 'Playfair Display', sans-serif;
    font-size: 72px;
    line-height: 79px;
    margin-bottom: 172px;
    width: 70%;
}

#contato h3 {
    margin: 88px 0 0;
}

#contato h4 {
    color: #929292;
    margin: 16px 0 0;
}

#infos {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#email {
    display: flex;
}

#email img {
    height: 24px;
    left: 409px;
    width: 24px;
}

#email:hover {
    border-bottom: 1px solid;
    font-style: italic;
}

#email a:hover {
    text-decoration: none;
}

#redes-sociais div {
    display: flex;
    list-style: none;
}

footer div a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
} 

footer div a:first-of-type {
    margin-left: 0;
} 

footer div a:hover {
    text-decoration: underline;
} 

#botao-topo {
    background: none;
    border: none;
    bottom: 20px; 
    cursor: pointer;
    display: none;
    outline: none;
    padding: 15px;
    position: fixed; 
    right: 30px; 
    z-index: 99;

}

#botao-topo img {
    height: 40px;
    width: 40px;
}
